@import url('font/font.css');
@import url('alert.css');
body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0,0,0,0.85);
    color:white;  
}
button,input,select{
    outline-style: none;
    border:none;
    font-size: 19px;
    padding: 5px 15px;
    color:white;
    background-color:#00000070;
    border-radius: 10px; 
}
button,select,#radioR,#radioPR,.label:hover{
    cursor: pointer;
}
#selecao{
    display:flex;
    flex-direction: column;
    padding: 40px 50px 40px 50px;
    border-radius: 10px;
    background-color:#00000050;
}

#radioR,#radioPR{
    border:white 2px solid;
    width:150px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}
.ocultar{
    display: none;
}
.radiosBtn{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    column-width: 10px;    
    margin-bottom: 15px;
    height: 80px;
}
.input{
    display: block;
    margin:0 auto;
}
#btnRS{
    display: flex;
    justify-content: space-around;
}

.btnComecar{
    background-color:#00B339D0;
}
.btnComecar:active{
    background-color:#007B39D0;
}

.btnRaking{
    font-family: 'Open Sans Italic', sans-serif;
    background-color:#DAA520D0;
}
.btnRaking:active{
    background-color: #DA7E20D0;
}

.btnSobre{
    font-family: 'Open Sans Italic', sans-serif;
    background-color:#0AC0C9D0;
}
.btnSobre:active{
    background-color:#0A6BC9D0; 
}