@import url('riddles.css');
.conteudo,.conteudo2{
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
}
.conteudo2{
    width:90%;
}
.conteudo audio{
    width:40%;
    margin:1%;
}
.conteudo p{
    width:50%;
    margin:1%;
}
.conteudo4{
    width: 90%;
}
img{
    width: 50%;
    margin: auto;
}
p{
    text-align: justify;
}
.img{
    width: 50%;
}
.row{
    flex-direction: row;
}
.column{
    margin: auto;
    flex-direction: column;
}
