@import url('riddles.css');
.conteudo,.conteudo2{
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
}
.conteudo2{
    width:60%;
}
img{
    width: 100%;
}
.row{
    flex-direction: row;
}
.column{
    justify-content: center;
    flex-direction: column;
}
